

	.btna{
		color: #FFFFFF;
		background: #92AAAA;
		padding:5rpx 30rpx 5rpx 30rpx;
		border-radius:50rpx 0rpx 0rpx 50rpx
	}
	.dis{
		display: block;	
	}
	
	.hide{
		color: #000000;
		background: #FFFFFF;
		padding:5rpx 30rpx 5rpx 30rpx;
		border-radius:0rpx 50rpx 50rpx 0rpx
	}
	
	